:root.light {
    --primary-100:#ff9100;
    --primary-200:#ff5e00;
    --primary-300:#4b1100;
    --accent-100:#84eff7;
    --accent-200:#008f99;
    --text-100:#222222;
    --text-200:#494949;
    --bg-main:#ffffff;
    --bg-container:#e0e0e0;
    --bg-btn:#cccccc;       
}
:root.dark {
    --primary-100:#FF6600;
    --primary-200:#ff983f;
    --primary-300:#f5f5f5;
    --accent-100:#84eff7;
    --accent-200:#008f99;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-main:#1A1A1A;
    --bg-container:#292929;
    --bg-btn:#575151;    
}

*, *::after, *::before {
    box-sizing: border-box;
}

p, span {
    color: var(--text-100)
}

body {
    height: 100%;
    margin: 0;
    background-color: var(--bg-main);
    color: var(--text-100);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
h1, h2, h3, h4 {
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

ul {
    list-style: none;
}

.small-button {
    background-color: #00000000;
    cursor: pointer;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
}

.main-header {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--bg-btn);
}

.title-section {
    display: flex;
    padding: 10px 0;
    width: 80%;
}

.main-title {
    margin: 0 5px;
}

.theme-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section {
    margin: 0 20px;
}

.nav-section {
    margin: 15px 0;
    height: 100%;
    width: 300px;
}

.task-nav {
    border-radius: 10px;
    background-color: var(--bg-container);
    width: 100%;
    height: 600px;
}

.project-nav {
    border-radius: 10px;
    background-color: var(--bg-container);
    width: 100%;
}

.project-ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    padding: 15px;
}

.dd-hidden-menu{
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-left: 15px;
}

.rotate-arrow {
    transform: rotate(180deg);
    transition: transform 0.15s linear;
}

.dropdown-arrow {
    transition: transform 0.15s linear;
}

.three-dots {
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.side-nav-btn {
    border: none;
    background-color: #00000000;
    display: flex;
    gap: 5px;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
}


.hidden {
    display: none;
}