:root.light {
    --primary-100:#ff9100;
    --primary-200:#ff5e00;
    --primary-300:#4b1100;
    --accent-100:#84eff7;
    --accent-200:#008f99;
    --text-100:#222222;
    --text-200:#494949;
    --bg-main:#ffffff;
    --bg-btn:#f5f5f5;
    --bg-container:#cccccc;       
}
:root.dark {
    --primary-100:#FF6600;
    --primary-200:#ff983f;
    --primary-300:#f5f5f5;
    --accent-100:#84eff7;
    --accent-200:#008f99;
    --text-100:#FFFFFF;
    --text-200:#e0e0e0;
    --bg-main:#2e2929;
    --bg-btn:#3e3939;
    --bg-container:#575151;    
}

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--bg-main);
    color: var(--text-100);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
h1, h2, h3, h4 {
    font-family: Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.hidden {
    display: none;
}

.small-button {
    background-color: #00000000;
    cursor: pointer;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
}

.main-header {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title-section {
    display: flex;
    padding: 10px 0;
    width: 50%;
}

.main-title {
    margin: 0 5px;
}

.theme-section {
    display: flex;
    justify-content: center;
    align-items: center;
}