@font-face {
    font-family: Oswald;
    src: url(./Fonts/Oswald.ttf);
}

* {
    box-sizing: border-box;
}

body {
    margin: 10px;
}

.logo {
    margin: 0 20px;
    height: 30px;
    width: 30px;
}

header {
    background-color: #F5F5F5;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.nav-header {
    margin: 0 10px;
}

.nav-btn {
    border: none;
    background-color: #F5F5F5;
    color: #444648;
    padding: 20px;
    cursor: pointer;
}

#content {
    align-items: center;
    margin: 15px 0;
    display: flex;
    flex-direction: column;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('./img/burger-banner.jpg');
    background-size: 98vw 50vh;
    width: 98vw;
    height: 50vh;
}

.banner-text {
    margin: 0;
    color: white;
    line-height: 0;
    font-family: Oswald;
    font-size: 200px;
    transform: scaleY(2.2);
}

.welcome-message {
    color: #1d1f21;
    font-style: italic;
    font-weight: 300;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    line-height: 2;
    padding: 20px 50px;
}

.overview-container {
    margin: 15px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card-container {
    background-color: #f5f5f5;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 20px;
    height: 20vh;
}

.card-title {
    text-align: center;
    color: #FF6600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.card-description {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card-btn {
    font-size: 16px;
    font-weight: 700;
    width: 30%;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #FF6600;
    padding: 15px 0;
    cursor: pointer;
}

.card-btn:active {
    background-color: #ff983f;
}

.menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding: 10px 5vw;
    border-radius: 20px;
}

.menu-card-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px;
}

.menu-cardTop {
    display: flex;
    justify-content: space-between;
}

.section-title {
    margin: 35px;
}

.menu-name, .menu-price, .menu-description, .menu-title {
    margin: 5px;
    font-family: 'Courier New', Courier, monospace;
}