body {
  background-color: #faebd7;
  color: #292929;
  font-family: ubuntu, roboto, sans-serif;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* HEADER SECTION */

.web-header {
  display: flex;
  justify-content: space-between;
}

.logo-section {
  align-items: center;
  display: flex;
  gap: 20px;
  padding: 0 20px;
}

.header-logo {
  height: 50px;
  width: 50px;
}

.header-nav {
  align-items: center;
  display: flex;
  padding: 0 20px;
}

.header-nav ul {
  align-items: center;
  display: flex;
  gap: 20px;
}

.header-nav-item a {
  color: #292929;
  font-size: 1.1rem;
  font-weight: 500;
  text-decoration: none;
}

@media (max-width: 425px){

  .logo-section {
    padding-left: 20px; 
    padding-right: 0;
  }

  .logo-text{
    display: none;
  }

  .header-nav ul {
    padding: 0;
  }

  .header-nav-item a {
    font-size: 0.9rem;
  }

}

/* ADD BOOK SECTION */

.add-book {
  background-color: white;
  border: 2px solid hsl(34, 20%, 70%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  padding: 20px;
  width: 90vw;
}

.small-inputs {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 10px;
}

.add-book-form {
  display: flex;
  flex-direction: column;
}

.new-book-form-label {
  font-weight: 500;
  margin-top: 10px;
}

.form-input {
  background-color: hsl(34, 20%, 70%);
  border: none;
  border-radius: 5px;
  height: 1.5rem;
  width: 100%;
}

.description-input {
  height: 3rem;
}

.add-book-btn {
  border: 1px solid hsl(34, 20%, 70%);
  border-radius: 5px;
  font-weight: 500;
  height: 1.8rem;
  margin-top: 20px;
}

.add-book-btn:active {
  border: #faebd7;
}